/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Quicksand:wght@400;700&display=swap'); */
body {
    background-color:  whitesmoke;
    font-family: "Quicksand",sans-serif;
   
}
img{
    /* height: 100px; */
    width: 50%;
    padding-right: 20px;   
}
h2{
    padding-left: 30px;
}
.login_button{
  background-color: blue;
  color: white;  
  width:400px;
  border-radius:6px;
  font-weight:800;
  font-size:0.8em;
  height: 3rem !important;
  border: none;
  /* width: 40px; */
}
.log_in{
    /* padding-top: 7px; */
    padding-left:25px ;
    padding-bottom: 10px;
    border-radius: 6px;
    font-size: 17px;
    padding : 14px 16px;
    /* width: 300px; */
    /* size: 5rem; */
    /* margin-left: 10px; */
}
.forgot_pass{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding: 14px 16px;
    cursor: pointer;
    text-align: center;
    /* padding-left:  80px !important; */
}
.container{
    margin-top: 10rem;
    margin-left: 10rem;
    align-items: center;
}
.btn{
    padding-left: 50px;
    margin-bottom: 18px;

}
.btn-lg{
    background-color: rgb(31, 231, 31);
    color: white !important;
    font-size: 20px larger;
    border-radius: 6px;
    border: none;
}
.forgo{
    padding-top: 8px;
}
.form_m{
    border: 5px;
    border-color: black solid;
    background-color: white;
    text-align: center !important;
    border-radius: 10px;
    box-shadow: 2px 2px gainsboro;
}
.create_page{
    padding-left: 38px;
    padding-top: 1.5rem;
}
